<p-menubar [model]="menuItems">
  <ng-template #item let-item let-root="root">
    <a *ngIf="item.show()" (click)="item.onClick()" pRipple class="flex items-center p-menubar-item-link">
      <span [class]="item.icon"></span>
      <span>{{ item.label }}</span>
    </a>
  </ng-template>
  <ng-template #end>
    <div class="flex items-center gap-2">
      <input type="text" pInputText placeholder="Search" class="w-36" />
    </div>
  </ng-template>
</p-menubar>

<p-divider></p-divider>

<p-table
  stripedRows
  selectionMode="single"
  dataKey="id"
  currentPageReportTemplate="{first} a {last} | {totalRecords}"
  [lazy]="true"
  [value]="produtoList"
  [(selection)]="selectedProduct">
  <ng-template #header>
    <tr>
      <th>ID</th>
      <th>Codigo</th>
      <th>Descricao</th>
      <th>Situacao</th>
    </tr>
  </ng-template>
  <ng-template #body let-produto>
    <tr [pSelectableRow]="produto">
      <td>{{ produto.id }}</td>
      <td>{{ produto.codigo }}</td>
      <td>{{ produto.descricao }}</td>
      <td>{{ produto.situacao }}</td>
    </tr>
  </ng-template>
</p-table>
<p-paginator [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[15, 30, 50]" (onPageChange)="pageChange($event)"></p-paginator>
