<p-card [style]="{height: 'calc(100% - 110px)'}">
  <ng-template #header>
    <p-button (onClick)="voltar()" label="Voltar" severity="contrast" icon="pi pi-arrow-left" size="small" outlined="true" ></p-button>
  </ng-template>

  <ng-template #content>
    <form [formGroup]="produtoForm">
      <div class="form-container">
        <div class="form-field">
          <p-float-label>
            <input type="text" pInputText formControlName="codigo" required />
            <label>Codigo</label>
          </p-float-label>
        </div>

        <div class="form-field">
          <p-float-label>
            <input type="text" pInputText formControlName="descricao" required />
            <label>Descricao</label>
          </p-float-label>
        </div>

        <div class="form-field">
          <p-select [options]="situacaoEnum" formControlName="situacao" placeholder="Situacao" required />
        </div>
      </div>
    </form>
  </ng-template>

<!--  <ng-template style="margin-top: 20px" #footer>-->
<!--    <p-button (click)="save()" [disabled]="!produtoForm.valid" label="Salvar" severity="success" size="small" pTooltip="Campos obrigatorios nao preenchidos" [tooltipDisabled]="produtoForm.valid"></p-button>-->
<!--  </ng-template>-->
</p-card>

<p-divider></p-divider>

<p-card>
  <p-button (click)="save()" [disabled]="!produtoForm.valid" label="Salvar" severity="success" size="small" pTooltip="Campos obrigatorios nao preenchidos" [tooltipDisabled]="produtoForm.valid"></p-button>
</p-card>

